* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Home style nav*/
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 20px 50px;
  background-color: rgb(33 37 41);
  color: white;
  position: relative;
}

.nav-container .nav-bar {
  display: flex;
}

.nav-container .nav-bar h3 {
  font-size: 42px;
  color: #870303;
  font-family: fantasy;
}

.nav-container .menu {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.nav-container .menu ul {
  list-style: none;
  display: flex;
}

.nav-container .menu ul li {
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 40px;
}

.nav-search {
  display: flex;
  align-items: center;
}

.nav-search input {
  font-size: 18px;
  width: 212px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  outline: 3px solid #901c1d;
}

.nav-search button i {
  font-size: 21px;
  padding: 3px 9px;
  margin-left: -11px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  outline: 8px solid #870303;
  color: #870303;
  background: #d6dadd;
}

.menu .menuBtn {
  display: none;
  position: absolute;
  top: -1px;
  left: 38px;
  font-size: 24px;
}

.closeBtn {
  display: none;
  position: absolute;
  top: -1px;
  left: 38px;
  font-size: 24px;
}

/* ------------------------------- nav media query--------------- */
@media screen and (max-width:820px) {
  .nav-container .menu {
    position: relative;
  }

  .nav-container .menu ul {
    display: none;
    flex-direction: column;
    line-height: 42px;
    padding: 17px 13px;
    position: absolute;
    top: 42px;
    left: 9px;
    background-color:rgb(33 37 41);
    z-index: 20;
  }

  .nav-container .menu ul li {
    margin: initial;
  }

  .disNone {
    display: none;
  }

  #disBlock {
    display: block;
  }

}

/* for small mobile */
@media screen and (max-width:720px) {

  /*search Input */
  .nav-search input {
    width: 0px;
    transition: all .5s ease-in-out;
  }

  #addWidth {
    width: 220px;
  }

  .nav-search {
    display: flex;
    align-items: center;
    position: absolute;
    top: 104px;
    right: 4px;
    z-index: 10;
  }

}

/* alert */
.error {
  background: red;
  padding: 5px 12px;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  font-size: 11px;
}

.dblock {
  display: block;
}

.dnone {
  display: none;
}

/* Notes area style */

.notes-container {
  width: 60%;
  margin: auto;
  margin-top: 40px;
}

/* Card style ---------------- */
.card-container {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.card-margin {
  margin-top: 10px;
  margin-left: 10px;
  width: 18rem;
}